@import './reset';
@import './mediaQuery';

$text: #666;
$text-inverted: ghostwhite;
$accent: crimson;
$defBlue: dodgerblue;
$bright: yellowgreen;

a {
  font-weight: 500;
  transition: all 0.25s linear;
  cursor: pointer;
}

a, a:visited {
  color: $text;
}

a:hover {
  color: $defBlue;
}

.red-ripple, .blue-ripple, .green-ripple {
  background-position: center;
  transition: background 0.4s;
}
.red-ripple:hover {
  background: lighten($accent, 5%) radial-gradient(circle, transparent 1%, $accent 1%) center/15000%;
}
.red-ripple:active {
  background-color: lighten($accent, 10%);
  background-size: 100%;
  transition: background 0s;
}

.blue-ripple:hover {
  background: lighten($defBlue, 5%) radial-gradient(circle, transparent 1%, $defBlue 1%) center/15000%;
}
.blue-ripple:active {
  background-color: lighten($defBlue, 10%);
  background-size: 100%;
  transition: background 0s;
}

.green-ripple:hover {
  background: lighten($bright, 5%) radial-gradient(circle, transparent 1%, $bright 1%) center/15000%;
}
.green-ripple:active {
  background-color: lighten($bright, 10%);
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
button {
  border: none;
  border-radius: 2px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  box-shadow: 0 0 4px #999;
  outline: none;
}